.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.977000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.012000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.011230;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.031738;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.760227px;}
._0{width:2.795067px;}
._2{width:3.996139px;}
._5{width:6.980119px;}
._8{width:8.045831px;}
._4{width:13.475330px;}
._3{width:17.666786px;}
._6{width:18.970104px;}
._7{width:29.998490px;}
.fc5{color:rgb(48,89,188);}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(115,115,115);}
.fc1{color:rgb(60,66,64);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(166,166,166);}
.fs5{font-size:32.255350px;}
.fs2{font-size:36.030225px;}
.fs0{font-size:40.023574px;}
.fs4{font-size:44.016924px;}
.fs1{font-size:56.026999px;}
.fs3{font-size:80.047149px;}
.y0{bottom:0.000000px;}
.y1c{bottom:27.453008px;}
.y1b{bottom:46.969380px;}
.y3{bottom:49.736289px;}
.y1a{bottom:66.485752px;}
.y2{bottom:79.761476px;}
.y1{bottom:109.786663px;}
.y13{bottom:112.816202px;}
.y15{bottom:152.055677px;}
.y26{bottom:152.907169px;}
.y19{bottom:169.318278px;}
.y18{bottom:185.832131px;}
.y3f{bottom:189.175964px;}
.y48{bottom:192.206393px;}
.y3e{bottom:201.271720px;}
.y47{bottom:204.302149px;}
.y3d{bottom:213.367477px;}
.y14{bottom:219.271082px;}
.y46{bottom:223.797358px;}
.y17{bottom:235.328019px;}
.y45{bottom:235.893114px;}
.y3c{bottom:244.210214px;}
.y44{bottom:247.988870px;}
.y16{bottom:251.841872px;}
.y3b{bottom:256.305971px;}
.y43{bottom:260.084627px;}
.y42{bottom:274.751080px;}
.y4a{bottom:285.088261px;}
.y41{bottom:286.846837px;}
.y12{bottom:290.752651px;}
.y49{bottom:297.184017px;}
.y40{bottom:298.942593px;}
.y10{bottom:318.109551px;}
.yf{bottom:331.620886px;}
.y27{bottom:340.023137px;}
.yb{bottom:346.262445px;}
.y3a{bottom:366.089492px;}
.y39{bottom:380.731076px;}
.y2e{bottom:391.492543px;}
.y38{bottom:398.572051px;}
.y2d{bottom:406.505136px;}
.y34{bottom:413.213634px;}
.y2c{bottom:421.517730px;}
.y37{bottom:430.791608px;}
.y31{bottom:438.206335px;}
.y33{bottom:439.682986px;}
.y36{bottom:444.302943px;}
.y35{bottom:458.944495px;}
.y2b{bottom:465.054188px;}
.ye{bottom:474.857735px;}
.y2a{bottom:480.066782px;}
.ya{bottom:489.499287px;}
.y29{bottom:495.079376px;}
.yd{bottom:505.412530px;}
.y30{bottom:513.971775px;}
.yc{bottom:520.054111px;}
.y2f{bottom:530.485628px;}
.y32{bottom:531.962250px;}
.y11{bottom:541.876518px;}
.y28{bottom:565.676331px;}
.y6{bottom:581.541060px;}
.y5{bottom:595.052394px;}
.y25{bottom:602.610457px;}
.y9{bottom:617.421229px;}
.y24{bottom:617.623051px;}
.y23{bottom:632.635645px;}
.y8{bottom:641.441379px;}
.y22{bottom:647.648238px;}
.y21{bottom:662.660832px;}
.y7{bottom:665.461529px;}
.y20{bottom:677.673425px;}
.y1f{bottom:692.686019px;}
.y1e{bottom:707.698613px;}
.y1d{bottom:722.711206px;}
.y4{bottom:761.156522px;}
.h9{height:25.451487px;}
.ha{height:25.876729px;}
.h7{height:27.527092px;}
.h4{height:28.463877px;}
.h2{height:30.578011px;}
.h6{height:31.618624px;}
.h8{height:34.773370px;}
.h3{height:44.261330px;}
.h5{height:63.237248px;}
.h1{height:842.000000px;}
.h0{height:842.249979px;}
.w0{width:595.500000px;}
.x0{left:0.000000px;}
.xb{left:41.326587px;}
.x4{left:42.369893px;}
.x8{left:43.430955px;}
.x7{left:48.286591px;}
.xd{left:57.394901px;}
.x9{left:58.905859px;}
.xa{left:60.566942px;}
.x6{left:69.339408px;}
.x5{left:72.312980px;}
.x1{left:251.245127px;}
.x10{left:281.498542px;}
.x3{left:286.194187px;}
.x2{left:437.074206px;}
.xe{left:465.874709px;}
.xf{left:467.439797px;}
.xc{left:505.142215px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:2.346969pt;}
._0{width:3.726756pt;}
._2{width:5.328186pt;}
._5{width:9.306825pt;}
._8{width:10.727775pt;}
._4{width:17.967107pt;}
._3{width:23.555715pt;}
._6{width:25.293472pt;}
._7{width:39.997987pt;}
.fs5{font-size:43.007133pt;}
.fs2{font-size:48.040300pt;}
.fs0{font-size:53.364766pt;}
.fs4{font-size:58.689232pt;}
.fs1{font-size:74.702666pt;}
.fs3{font-size:106.729532pt;}
.y0{bottom:0.000000pt;}
.y1c{bottom:36.604011pt;}
.y1b{bottom:62.625840pt;}
.y3{bottom:66.315051pt;}
.y1a{bottom:88.647669pt;}
.y2{bottom:106.348634pt;}
.y1{bottom:146.382217pt;}
.y13{bottom:150.421603pt;}
.y15{bottom:202.740903pt;}
.y26{bottom:203.876225pt;}
.y19{bottom:225.757704pt;}
.y18{bottom:247.776174pt;}
.y3f{bottom:252.234619pt;}
.y48{bottom:256.275190pt;}
.y3e{bottom:268.362294pt;}
.y47{bottom:272.402865pt;}
.y3d{bottom:284.489969pt;}
.y14{bottom:292.361443pt;}
.y46{bottom:298.396477pt;}
.y17{bottom:313.770692pt;}
.y45{bottom:314.524152pt;}
.y3c{bottom:325.613619pt;}
.y44{bottom:330.651827pt;}
.y16{bottom:335.789163pt;}
.y3b{bottom:341.741294pt;}
.y43{bottom:346.779502pt;}
.y42{bottom:366.334774pt;}
.y4a{bottom:380.117681pt;}
.y41{bottom:382.462449pt;}
.y12{bottom:387.670201pt;}
.y49{bottom:396.245356pt;}
.y40{bottom:398.590124pt;}
.y10{bottom:424.146069pt;}
.yf{bottom:442.161181pt;}
.y27{bottom:453.364182pt;}
.yb{bottom:461.683260pt;}
.y3a{bottom:488.119323pt;}
.y39{bottom:507.641434pt;}
.y2e{bottom:521.990057pt;}
.y38{bottom:531.429401pt;}
.y2d{bottom:542.006848pt;}
.y34{bottom:550.951512pt;}
.y2c{bottom:562.023640pt;}
.y37{bottom:574.388811pt;}
.y31{bottom:584.275114pt;}
.y33{bottom:586.243981pt;}
.y36{bottom:592.403924pt;}
.y35{bottom:611.925993pt;}
.y2b{bottom:620.072251pt;}
.ye{bottom:633.143647pt;}
.y2a{bottom:640.089043pt;}
.ya{bottom:652.665716pt;}
.y29{bottom:660.105834pt;}
.yd{bottom:673.883373pt;}
.y30{bottom:685.295700pt;}
.yc{bottom:693.405481pt;}
.y2f{bottom:707.314171pt;}
.y32{bottom:709.283000pt;}
.y11{bottom:722.502024pt;}
.y28{bottom:754.235107pt;}
.y6{bottom:775.388080pt;}
.y5{bottom:793.403192pt;}
.y25{bottom:803.480610pt;}
.y9{bottom:823.228306pt;}
.y24{bottom:823.497401pt;}
.y23{bottom:843.514193pt;}
.y8{bottom:855.255172pt;}
.y22{bottom:863.530984pt;}
.y21{bottom:883.547776pt;}
.y7{bottom:887.282039pt;}
.y20{bottom:903.564567pt;}
.y1f{bottom:923.581359pt;}
.y1e{bottom:943.598150pt;}
.y1d{bottom:963.614942pt;}
.y4{bottom:1014.875362pt;}
.h9{height:33.935316pt;}
.ha{height:34.502305pt;}
.h7{height:36.702789pt;}
.h4{height:37.951837pt;}
.h2{height:40.770681pt;}
.h6{height:42.158165pt;}
.h8{height:46.364493pt;}
.h3{height:59.015106pt;}
.h5{height:84.316330pt;}
.h1{height:1122.666667pt;}
.h0{height:1122.999972pt;}
.w0{width:794.000000pt;}
.x0{left:0.000000pt;}
.xb{left:55.102116pt;}
.x4{left:56.493190pt;}
.x8{left:57.907940pt;}
.x7{left:64.382121pt;}
.xd{left:76.526534pt;}
.x9{left:78.541146pt;}
.xa{left:80.755923pt;}
.x6{left:92.452543pt;}
.x5{left:96.417306pt;}
.x1{left:334.993503pt;}
.x10{left:375.331389pt;}
.x3{left:381.592250pt;}
.x2{left:582.765608pt;}
.xe{left:621.166278pt;}
.xf{left:623.253062pt;}
.xc{left:673.522953pt;}
}
